.main-menu {
    background-color:#F5F5F7CC ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    gap: 24px;
}

.menu {
    
    font-size: 12px;
    font-family: Inter;
    color: #000000;
}